.App {
  text-align: center;
}

main {
  height: 100vh;
  width: 100vw;
  background-color: #FDF6DE;
}

nav li {
  display: inline;
  padding: .5em;
}

footer {
  height: 7vh;
  width: 100vw;
  bottom: 0;
  background-color: #41545E;
  color: white;
  font-size: 16px;
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#petImage {
  border: 5px solid black;
}

#profilePic {
  /* height: 200px;
  width: 200px; */
  border: 5px solid black;
}

#delete {
  margin: 10px;
}

.profile {
  padding: 50px;
}

.red {
  color: red;
}

.login {
  padding: 60px;
  margin: 0 auto;
}

.logo {
  margin: 0 auto;
  padding: 12em 0;
}

.nav-logo{
  float: left;
}

.pet-form {
  grid-template-columns: 1fr 1fr;
  display: flex;
  padding: 20px;
}

.pet-show {
  /* grid-template-columns: 1fr 1fr; */
  display: flex;
  padding: 1em;
  margin: 0 auto;
}

.signup {
  padding: 60px;
  margin: 0 auto;
}

.vet-table {
  height: 36em !important;
  margin: 0 auto;
  padding: 5px;
  overflow-y: scroll;
}








